body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slot {
    width: 5em;
    height: 5em;
    background-color: rgba(17, 17, 227, 0.838);
}

.hole {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: black;
    border: 2px solid black;
    position: relative;
    top: 8%;
    left: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#board {
    display: flex;
    border: 5px solid black;
}

.animation {
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.player1 .hole {
    background-color: black;
    transition: background-color 0.25s ease-in;
    background-color: red;
}

.player2 .hole {
    background-color: black;
    transition: background-color 0.25s ease-in;
    background-color: gold;
}

.white .hole {
    border: 8px solid white;
    box-sizing: border-box;
}

.circle {
    background-color: #fff;
    height: 33%;
    width: 33%;
    border-radius: 50%;
}

.title {
    font-size: 4em;
    color: rgba(17, 17, 227, 0.838);
}

.winner {
    text-align: center;
    font-size: 5em;
    background-color: black;
    width: 100%;
    position: absolute;
    top: 37%;
    z-index: 1;
    display: none;
}

button {
    width: 10%;
    height: 5%;
    font-size: 20px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: black;
    border: 3px solid rgba(17, 17, 227, 0.838);
    border-radius: 20px;
    color: rgba(17, 17, 227, 0.838);
    cursor: pointer;
    font-weight: bold;
}

button:active,
button:focus {
    outline: none;
}

.alert {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 45%;
    left: 5%;
    display: none;
}

@media screen and (max-width: 720px) {
    .title {
        font-size: 50px;
        margin-top: 50px;
    }
    .hole {
        width: 40px;
        height: 40px;
        border: 1px solid black;
        left: 4px;
        top: 4px;
    }
    .slot {
        width: 50px;
        height: 50px;
    }

    #board {
        width: 210px;
        position: absolute;
        left: 6%;
        top: 22%;
    }

    button {
        margin-bottom: 100px;
        width: 100px;
        height: 25px;
        font-size: 12px;
    }

    .winner {
        font-size: 50px;
    }
}
